<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-del-projecto-equipo21/blob/main/SVD_Equipo19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Maestría en Inteligencia Artificial Aplicada**
##**Curso: Inteligencia Artificial y Aprendizaje Automático**
###Tecnológico de Monterrey
###Prof Luis Eduardo Falcón Morales

## **Adtividad de la Semana 10**
###**Reducción de Dimensionalidad - Descomposición en Valores Singulares (SVD) y Sistemas de Recomendación**

**Nombres y matrículas de los integrantes del equipo:**

* Aurelio Antonio Lozano Rabago A01081266  
* Josias Ruiz Peña A00968460  
* David González A01794025  
* Jerson David Pérez Contreras A01793810  
* Jose Alberto Mtanous Treviño A00169781

En cada sección deberás incluir todas las líneas de código necesarias para responder a cada uno de los ejercicios.

In [64]:
# Incluye aquí todos módulos, librerías y paquetes que requieras.
import pandas as pd
import numpy as np
import requests, zipfile
from io import BytesIO

from sklearn.decomposition import TruncatedSVD

#### Ejercicio-1.
Descarga los archivos y genera la matriz de utilidad en la cual los renglones son los usuarios 
(user_ID), las columnas los nombres de los restaurantes (name) y las entradas la evaluaciones 
generales dadas por los usuarios (rating). En particular indica el tamaño de dicha matriz y despliega 
sus primeros 10 renglones.

In [82]:
path = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00232/RCdata.zip'
ratingFileName = '/tmp/rating_final.csv'
geoplacesFileName = '/tmp/geoplaces2.csv'

req = requests.get(path)
zp = zipfile.ZipFile(BytesIO(req.content))
zp.extractall(path='/tmp/')

ratingDf = pd.read_csv(ratingFileName)
geoplacesDf = pd.read_csv(geoplacesFileName, encoding = "latin-1")

In [83]:
X = pd.merge(ratingDf, geoplacesDf, how="inner", on="placeID")[['userID', 'name', 'rating']]
utilityMatrixEx1 = X.pivot_table(values='rating', index='userID', columns='name', fill_value=0)
print('------------Tamaño de Matriz--------------------')
print(utilityMatrixEx1.shape)
print('------------Primeros 10 renglones--------------------')
utilityMatrixEx1.head()

------------Tamaño de Matriz--------------------
(138, 129)
------------Primeros 10 renglones--------------------

name,Abondance Restaurante Bar,Arrachela Grill,Cabana Huasteca,Cafe Chaires,Cafeteria cenidet,Cafeteria y Restaurant El Pacifico,Carls Jr,Carnitas Mata Calle 16 de Septiembre,Carreton de Flautas y Migadas,Cenaduria El RincÃ³n de Tlaquepaque,...,puesto de tacos,rockabilly,shi ro ie,sirloin stockade,tacos abi,tacos de barbacoa enfrente del Tec,tacos de la estacion,tacos los volcanes,tortas hawai,vips
userID,,,,,,,,,,,,,,,,,,,,,
U1001,0,0,0,0,0,0,0,0,0,0,...,2,0,0,0,0,0,0,0,0,0
U1002,0,0,0,0,0,0,0,0,0,0,...,2,0,0,0,0,0,0,0,0,0
U1003,0,0,2,0,0,0,0,0,0,0,...,2,2,0,0,0,0,0,0,0,0
U1004,0,0,0,0,0,2,0,0,0,0,...,0,0,0,0,0,0,0,2,0,0
U1005,0,0,0,0,0,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

#### Ejercicio-2.
Con el objetivo de obtener la información con respecto a los vectores latentes de los restaurantes, 
obtener dicha factorización SVD utilizando todas las componentes posibles, es decir, usando todos 
sus valores singulares. En particular indica la cantidad de valores singulares obtenidos.

In [84]:
# Como queremos obtener información sobre las restuarantes, tenemos que dejar los renglones con los restaurantes y las columnas con los usuarios, para esto pudemos usar la matriz transpuesta
utilityMatrixEx2 = utilityMatrixEx1.T
utilityMatrixEx2.shape

(129, 138)

In [85]:
SVD = TruncatedSVD(n_components=137)
SVD.fit(utilityMatrixEx2)
print('------------El Numero de Valores singulares es--------------------')
print(SVD.singular_values_.shape[0])

------------El Numero de Valores singulares es--------------------
129

#### Ejercicio-3.
Usando la métrica de correlación de Pearon[sic], obtener las 10 mejores recomendaciones de este 
modelo no supervisado con base a la información de alguien que evaluó bien de manera general al 
“Subway”. Despliega también el valor numérico de la correlación de Pearson de cada una de estas 10 
recomendaciones. NOTA: No debe estar incluido “Subway” dentro de las recomendaciones.

In [86]:
corrPearson = np.corrcoef(utilityMatrixEx2, )

In [87]:
# Ahora encontramos el número de renglón para poder ver la correlación con los otros restaurantes
restaurantes = list(utilityMatrixEx1.columns)
SubwayIdx = restaurantes.index('Subway')
SubwayIdx

88

In [88]:
# Creamos un dataframe con en nombre del Restaurante y la correlación al Subway
subwayCorr = corrPearson[88]
sTmp = subwayCorr.reshape((-1,1))
rTmp = np.array(restaurantes).reshape((-1,1))
aTmp = np.concatenate( (rTmp,sTmp),axis=1 )
subwayCorrDf = pd.DataFrame(aTmp,columns=['Restaurante','Corr Subway'])

In [89]:
# Ahora encontraremos las 10 correlaciones más altas sin incluir Subway:
firstTenRecomendationsEx2 = subwayCorrDf.sort_values(by='Corr Subway',ascending=False)[1:11]
firstTenRecomendationsEx2

                                          Restaurante          Corr Subway
58                                   Restaurant Teely   0.5990533791287092
97                                               Vips    0.479864116498316
85                                    Rincon del Bife   0.4093707292614752
60  Restaurant and Bar and Clothesline Carlos N Ch...  0.40937072926147494
86                               Sanborns Casa Piedra  0.38696844626865706
41                                 Mariscos Tia Licha  0.35446853122212385
45                                             Mikasa    0.284129903907283
11                                  Chilis Cuernavaca  0.28412990390728293
64                               Restaurant los Pinos   0.2622531234331326
37                                            Log Yin  0.20832864690144098

#### Ejercicio-4.
Disminuye ahora la dimensión de la factorización con un número de componentes tal, que las 
recomendaciones con esta menor cantidad de información coincidan en al menos 9 de las 10 
recomendaciones dadas con todos los valores singulares. Indica la cantidad de valores singulares 
encontrado y la cantidad de información que contienen.

In [90]:
# Para encontrar la cantidad de valores singulars mínima para que coincidan 9 de 10 recomendaciones voy a iterar y revisar los valores
# de cada iteración hasta que tenga 2 de 130

# Ahora vamos a descomponer la matriz de utilidad en sus valores singulares
num_sv = 0
firstTenRecomendationsEx4 = pd.DataFrame()
SVD = None
for n in range(2,130):
    SVD = TruncatedSVD(n_components=n, n_iter=1000, random_state=8)
    reducedUtilityMatrixEx2 = SVD.fit_transform(utilityMatrixEx2,)
    #Ahora calculamos la matriz de correlación usando la matriz reconstruida
    reducedUtilityMatrixEx2Corr = np.corrcoef(reducedUtilityMatrixEx2, )
    subwayCorrEx4 = reducedUtilityMatrixEx2Corr[88]
    sTmpEx4 = subwayCorrEx4.reshape((-1,1))
    rTmpEx4 = np.array(restaurantes).reshape((-1,1))
    aTmpEx4 = np.concatenate( (rTmpEx4,sTmpEx4),axis=1 )
    subwayCorrDfEx4 = pd.DataFrame(aTmpEx4,columns=['Restaurante','Corr Subway'])
    firstTenRecomendationsEx4 = subwayCorrDfEx4.sort_values(by='Corr Subway',ascending=False)[1:11]
    strikes = 0
    for idx,name in firstTenRecomendationsEx4['Restaurante'].items():
        if name not in firstTenRecomendationsEx2['Restaurante'].unique():
            strikes += 1
        if strikes > 1:
            break
    if strikes == 1:
        num_sv = n
        break

In [91]:
print('----------------El Número de valores singulares mínimo para encontrar 9 de las 10 recomendaciones es:-----------------------')
print(num_sv)
print('-------------Las recomendaciones enctontradas son-----------------------')
for idx,name in firstTenRecomendationsEx4['Restaurante'].items():
    print(name)
print('-------------La inoformacion contenida en los primeros',num_sv,'valores es:------------------------')
print(SVD.explained_variance_ratio_.sum())

----------------El Número de valores singulares mínimo para encontrar 9 de las 10 recomendaciones es:-----------------------
24
-------------Las recomendaciones enctontradas son-----------------------
Rincon del Bife
Restaurant Teely
Paniroles
Chilis Cuernavaca
Restaurant and Bar and Clothesline Carlos N Charlies
Vips
Mariscos Tia Licha
Log Yin
Sanborns Casa Piedra
Mikasa
-------------La inoformacion contenida en los primeros 24 valores es:------------------------
0.6834976846748346

#### Ejercicio-5.
Repite el ejercicio con el restaurante "tacos de barbacoa enfrente del Tec". Incluye tus conclusiones.

In [92]:
# Encontremos el indice de los tacos de barcacoa

tDBIdx = restaurantes.index('tacos de barbacoa enfrente del Tec')
tDBIdx

124

In [93]:
# Creamos un dataframe con en nombre del Restaurante y la correlación al Subway
tDBCorr = corrPearson[124]
sTmp = tDBCorr.reshape((-1,1))
rTmp = np.array(restaurantes).reshape((-1,1))
aTmp = np.concatenate( (rTmp,sTmp),axis=1 )
tDBCorrDf = pd.DataFrame(aTmp,columns=['Restaurante','Corr tDB'])
# Ahora encontraremos las 10 correlaciones más altas sin incluir Subway:
firstTenRecomendationstDB = tDBCorrDf.sort_values(by='Corr tDB',ascending=False)[1:11]
firstTenRecomendationstDB

                        Restaurante             Corr tDB
128                            vips   0.8119478180642272
123                       tacos abi   0.6592592592592608
114  little pizza Emilio Portes Gil   0.6463244307679646
92               Taqueria EL amigo   0.42278365020160186
118              puesto de gorditas   0.3977058393342043
8     Carreton de Flautas y Migadas   0.3922893952445135
36                    Little Cesarz   0.2254338180824853
116                      palomo tec  0.16832093243282217
25           Hamburguesas La perica  0.16265001215808922
101                   carnitas_mata   0.1516866822022362

In [94]:
# Para encontrar la cantidad de valores singulars mínima para que coincidan 9 de 10 recomendaciones voy a iterar y revisar los valores
# de cada iteración hasta que tenga 2 de 130

# Ahora vamos a descomponer la matriz de utilidad en sus valores singulares
num_sv = 0
firstTenRecomendationsEx5 = pd.DataFrame()
SVD = None
for n in range(2,130):
    SVD = TruncatedSVD(n_components=n, n_iter=1000, random_state=8)
    reducedUtilityMatrix = SVD.fit_transform(utilityMatrixEx2,)
    #Ahora calculamos la matriz de correlación usando la matriz reconstruida
    reducedUtilityMatrixCorr = np.corrcoef(reducedUtilityMatrix, )
    tDBCorr = reducedUtilityMatrixCorr[124]
    sTmp = tDBCorr.reshape((-1,1))
    rTmp = np.array(restaurantes).reshape((-1,1))
    aTmp = np.concatenate( (rTmp,sTmp),axis=1 )
    CorrDf = pd.DataFrame(aTmp,columns=['Restaurante','Corr'])
    CorrDf['Corr'] = CorrDf['Corr'].astype('float')
    firstTenRecomendations = CorrDf.sort_values(by='Corr',ascending=False)[1:11]
    firstTenRecomendations
    strikes = 0
    for idx,name in firstTenRecomendations['Restaurante'].items():
        if name not in firstTenRecomendationstDB['Restaurante'].unique():
            strikes += 1
        if strikes > 1:
            break
    if strikes == 1:
        num_sv = n
        firstTenRecomendationsEx5 = firstTenRecomendations
        break

In [95]:
print('----------------El Número de valores singulares mínimo para encontrar 9 de las 10 recomendaciones es:-----------------------')
print(num_sv)
print('-------------Las recomendaciones enctontradas son-----------------------')
for idx,name in firstTenRecomendationsEx5['Restaurante'].items():
    print(name)
print('-------------La inoformacion contenida en los primeros',num_sv,'valores es:------------------------')
print(SVD.explained_variance_ratio_.sum())

----------------El Número de valores singulares mínimo para encontrar 9 de las 10 recomendaciones es:-----------------------
33
-------------Las recomendaciones enctontradas son-----------------------
tacos abi
Taqueria EL amigo
Little Cesarz
Hamburguesas La perica
vips
palomo tec
carnitas_mata
little pizza Emilio Portes Gil
churchs
Carreton de Flautas y Migadas
-------------La inoformacion contenida en los primeros 33 valores es:------------------------
0.7774332927065429

#**Ejercicio-6.**

 Descarga los archivos y genera la matriz de utilidad en la cual los renglones son los usuarios 
(user_ID), las columnas los nombres de los restaurantes (name) y las entradas la evaluaciones 
generales dadas por los usuarios (rating). En particular indica el tamaño de dicha matriz y despliega 
sus primeros 10 renglones.

In [99]:
ratingDf = pd.read_csv(ratingFileName)
geoplacesDf = pd.read_csv(geoplacesFileName, encoding = "latin-1")
X6 = pd.merge(ratingDf, geoplacesDf, how="inner", on="placeID")[['userID', 'name', 'food_rating']]
utilityMatrixEx6 = X6.pivot_table(values='food_rating', index='userID', columns='name', fill_value=0)
print('------------Tamaño de Matriz--------------------')
print(utilityMatrixEx6.shape)
print('------------Primeros 10 renglones--------------------')
utilityMatrixEx6.head()

------------Tamaño de Matriz--------------------
(138, 129)
------------Primeros 10 renglones--------------------

name,Abondance Restaurante Bar,Arrachela Grill,Cabana Huasteca,Cafe Chaires,Cafeteria cenidet,Cafeteria y Restaurant El Pacifico,Carls Jr,Carnitas Mata Calle 16 de Septiembre,Carreton de Flautas y Migadas,Cenaduria El RincÃ³n de Tlaquepaque,...,puesto de tacos,rockabilly,shi ro ie,sirloin stockade,tacos abi,tacos de barbacoa enfrente del Tec,tacos de la estacion,tacos los volcanes,tortas hawai,vips
userID,,,,,,,,,,,,,,,,,,,,,
U1001,0,0,0,0,0,0,0,0,0,0,...,2,0,0,0,0,0,0,0,0,0
U1002,0,0,0,0,0,0,0,0,0,0,...,2,0,0,0,0,0,0,0,0,0
U1003,0,0,2,0,0,0,0,0,0,0,...,2,2,0,0,0,0,0,0,0,0
U1004,0,0,0,0,0,2,0,0,0,0,...,0,0,0,0,0,0,0,2,0,0
U1005,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [101]:
# Como queremos obtener información sobre las restuarantes, tenemos que dejar los renglones con los restaurantes y las columnas con los usuarios, para esto pudemos usar la matriz transpuesta
utilityMatrixEx6_2 = utilityMatrixEx6.T
utilityMatrixEx6_2.shape

(129, 138)

In [102]:
SVD = TruncatedSVD(n_components=137)
SVD.fit(utilityMatrixEx6_2)
print('------------El Numero de Valores singulares es--------------------')
print(SVD.singular_values_.shape[0])

------------El Numero de Valores singulares es--------------------
129

In [103]:
corrPearson6 = np.corrcoef(utilityMatrixEx6_2, )

In [104]:
# Ahora encontramos el número de renglón para poder ver la correlación con los otros restaurantes
restaurantes = list(utilityMatrixEx6.columns)
SubwayIdx = restaurantes.index('Subway')
SubwayIdx

88

In [105]:
# Creamos un dataframe con en nombre del Restaurante y la correlación al Subway
subwayCorr6 = corrPearson6[88]
sTmp = subwayCorr6.reshape((-1,1))
rTmp = np.array(restaurantes).reshape((-1,1))
aTmp = np.concatenate( (rTmp,sTmp),axis=1 )
subwayCorrDf6 = pd.DataFrame(aTmp,columns=['Restaurante','Corr Subway'])

In [106]:
# Ahora encontraremos las 10 correlaciones más altas sin incluir Subway:
firstTenRecomendationsEx6_2 = subwayCorrDf6.sort_values(by='Corr Subway',ascending=False)[1:11]
firstTenRecomendationsEx6_2

                                          Restaurante          Corr Subway
58                                   Restaurant Teely   0.8121238302041046
60  Restaurant and Bar and Clothesline Carlos N Ch...   0.4567527621199486
97                                               Vips   0.4211409395973146
41                                 Mariscos Tia Licha  0.37946587563502654
85                                    Rincon del Bife  0.36799237573694654
86                               Sanborns Casa Piedra  0.33876487010086664
55                           Restaurant Las Mananitas   0.2997589807943298
46                                          Paniroles   0.2947170778717423
29                                    Kiku Cuernavaca  0.22366624008488603
21                                          Giovannis   0.2087740338626092

In [107]:
# Para encontrar la cantidad de valores singulars mínima para que coincidan 9 de 10 recomendaciones voy a iterar y revisar los valores
# de cada iteración hasta que tenga 2 de 130

# Ahora vamos a descomponer la matriz de utilidad en sus valores singulares
num_sv6 = 0
firstTenRecomendationsEx6_4 = pd.DataFrame()
SVD6 = None
for n in range(2,130):
    SVD6 = TruncatedSVD(n_components=n, n_iter=1000, random_state=8)
    reducedUtilityMatrixEx6_2 = SVD6.fit_transform(utilityMatrixEx6_2,)
    #Ahora calculamos la matriz de correlación usando la matriz reconstruida
    reducedUtilityMatrixEx2Corr = np.corrcoef(reducedUtilityMatrixEx6_2, )
    subwayCorrEx6_4 = reducedUtilityMatrixEx2Corr[88]
    sTmpEx6_4 = subwayCorrEx6_4.reshape((-1,1))
    rTmpEx6_4 = np.array(restaurantes).reshape((-1,1))
    aTmpEx6_4 = np.concatenate( (rTmpEx4,sTmpEx4),axis=1 )
    subwayCorrDfEx6_4 = pd.DataFrame(aTmpEx4,columns=['Restaurante','Corr Subway'])
    firstTenRecomendationsEx6_4 = subwayCorrDfEx6_4.sort_values(by='Corr Subway',ascending=False)[1:11]
    strikes = 0
    for idx,name in firstTenRecomendationsEx6_4['Restaurante'].items():
        if name not in firstTenRecomendationsEx6_2['Restaurante'].unique():
            strikes += 1
        if strikes > 1:
            break
    if strikes == 1:
        num_sv6 = n
        break

In [108]:
print('----------------El Número de valores singulares mínimo para encontrar 9 de las 10 recomendaciones es:-----------------------')
print(num_sv6)
print('-------------Las recomendaciones enctontradas son-----------------------')
for idx,name in firstTenRecomendationsEx4['Restaurante'].items():
    print(name)
print('-------------La inoformacion contenida en los primeros',num_sv,'valores es:------------------------')
print(SVD6.explained_variance_ratio_.sum())

----------------El Número de valores singulares mínimo para encontrar 9 de las 10 recomendaciones es:-----------------------
0
-------------Las recomendaciones enctontradas son-----------------------
Rincon del Bife
Restaurant Teely
Paniroles
Chilis Cuernavaca
Restaurant and Bar and Clothesline Carlos N Charlies
Vips
Mariscos Tia Licha
Log Yin
Sanborns Casa Piedra
Mikasa
-------------La inoformacion contenida en los primeros 33 valores es:------------------------
1.0000000000000004

#**Ejercicio-7.**

In [109]:
None

#**Ejercicio-8.**

In [ ]:
None

###**Fin de la Actividad de la semana 10 - Sistemas de Recomendación y Reducción de Dimensionalidad con SVD.**